    /* src/index.css */
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(64, 72, 103, 0.907);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bars {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
}
#bar1:hover {
  color: #f27553;
}
#bar2:hover {
  color: #f27553;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  color:#f27553;
  border: 1px solid transparent;
  padding: 4px;
  font-size: large;
  font-weight: 600;
  font-family: inherit;
  background-color: #cfe158;
  cursor: pointer;
  width: 100px;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #f6ca5a;
  color: darkgreen;
  font-weight: 700;
}

#crtbtn{
  border-radius: 5px;
  color:#f27553;
  border: 1px solid transparent;
  padding: 4px;
  font-size: large;
  font-weight: 600;
  font-family: inherit;
  background-color: #cfe158;
  cursor: pointer;
  width: 160px;
  transition: border-color 0.25s;
}
#crtbtn:hover {
  background-color: #f6ca5a;
  color: darkgreen;
  font-weight: 700;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
